<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>One Music</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap&family=Roboto+Slab:wght@400" rel="stylesheet">
  <link rel="stylesheet" href="styles/index.css">
  <link rel="icon" href="img/logo/one_music-short-4.0.svg" type="image/svg+xml">
</head>

<body onload="onPageLoad()">

  <section class="logoSearchLogin">

    <header>
      <a class="logo" id="header" href="/"><img class="logoImg" src="img/logo/one_music-short-2.3.3-long-2.0-loop_count-1.gif" alt="One Music"></a>
    </header>

    <!-- GET request to fetch data related to queryValue.  -->
    <form class="searchForm" action="/search" method="get">
      <div class="searchInputContainer">
        <input class="searchInput" id="queryId" type="search" name="queryValue" placeholder="Search" autocomplete="off" required>
        <button class="searchButton" type="submit">
          &#5125;&#xFE0E;
        </button>
      </div>
    </form>

    <% if(isLoggedIn) { %>
      </section>

      <a class="logout" href="auth/logout">Logout</a>
    <% } else { %>
        <section class="login">
          <button class="loginButton" style="--content: 'Login with Spotify';" onclick="location.href='auth/spotify';">
            <div class="left"></div>
            Login with Spotify
            <!-- The padding of the button, is made around 'this' text.  -->
            <div class="right"></div>
          </button>
        </section>

      </section>
    <% } %>

    <section class="downloads">
      <!-- <img class="pwa" src="img/app-store/pwa.png" alt="pwa_badge"> -->
      <img class="googlePlay" src="img/app-store/google_play.png" alt="google_play_badge">
      <img class="appStore" src="./img/app-store/app_store.svg" alt="app_store_badge">
    </section>

  <script>
    let isLoggedIn = <%- JSON.stringify(isLoggedIn) %>;
  </script>

  <script src="./js/common.js"></script>

  <!-- <script type="text/javascript">

  if(window.outerWidth > 767) {
    document.getElementById("header").innerHTML = `
    <video autoplay='autoplay'>
      <source class='logoImg' src='vid/one_music-short-2.3.3-long-2.0.mp4' type='video/mp4' />
    </video>
    `;
  }

  </script> -->

</body>

</html>
