<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>iFrame</title>
</head>

<body>
  <iframe id="ytIframe00" width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript">
    $("#ytIframe00").attr("src", "https://www.youtube.com/embed/" + "<%= iFrameVideoId0 %>");
  </script>
</body>

</html>
